*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
  }
  
  body{
    width: 65%;
    margin: auto;
    background-color: rgb(243, 237, 237);
  }
  pre{
    font-family: monospace;
    background-color: rgb(47, 45, 45);
    color: white;
    
  }
  code{
    font-family: monospace;
    color:black;
    background-color: gainsboro;
    padding-left: 1em;
    padding-right: 1em;
  }
  div{
    text-align: center;
  }
 
  ul{
      list-style-type: none;
  }
  label{
    font-family: monospace;
  }